@font-face{
    font-family: 'Montserrat-Regular';
    src: url("../../../public/fonts/Monseratt/Montserrat-Regular.ttf");
}
@font-face{
    font-family: 'Montserrat-Bold';
    src: url("../../../public/fonts/Monseratt/Montserrat-Bold.ttf");
}
@font-face{
    font-family: 'Montserrat-BoldItalic';
    src: url("../../../public/fonts/Monseratt/Montserrat-BoldItalic.ttf");
}
@font-face{
    font-family: 'Montserrat-Medium';
    src: url("../../../public/fonts/Monseratt/Montserrat-Medium.ttf");
}
@font-face{
    font-family: 'Montserrat-MediumItalic';
    src: url("../../../public/fonts/Monseratt/Montserrat-MediumItalic.ttf");
}
@font-face{
    font-family: 'Montserrat-SemiBold';
    src: url("../../../public/fonts/Monseratt/Montserrat-SemiBold.ttf");
}
@font-face{
    font-family: 'Montserrat-SemiBoldItalic';
    src: url("../../../public/fonts/Monseratt/Montserrat-SemiBoldItalic.ttf");
}

.container{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: white;
}
.desktop{
    width: 100%;
}
.mainTitle{
    color: black;
    font-family: Montserrat-SemiBold;
    font-size: 24px;
    width: 100%;
}
.criteries{
    width: 100%;
}
.criteria{
    padding: 20px 0 10px 0;
    border-bottom: 1px solid white;
    width: 100%;
    border-bottom: 1px solid #bdbdbd;
}
.criteriaTitle{
    display: block;
    color: black    ;
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    margin-bottom: 5px;
}
.params{
    width: 100%;
}
.param{
    width: 100%;
    display: flex;
    color: black;
    font-family: Montserrat-Regular;
    cursor: pointer;
    margin-bottom: 5px;
}
.picked{
    color: black;
}
.filterButton{
    display: none;
}

/* ipad pro  */
@media only screen and (min-width: 1024px) and (max-height: 1366px){

}

/* ipad */
@media screen and (device-aspect-ratio: 3/4) {

}

/* iphone x */
@media screen and (max-width: 761px) {
    .desktop{
        position: absolute;
        transform: translateX(-150%);
        transition: 0.3s;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background: #343434;
        min-height: 300px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 9px 1px rgba(41,41,41,.25);
        -moz-box-shadow: 0px 0px 9px 1px rgba(41,41,41,.25);
        box-shadow: 0px 0px 9px 1px rgba(41,41,41,.25);
        overflow-y: scroll;
    }
    .show{
        transform: translateX(0%) translateY(8%);
    }
    .container{
        display: flex;
        justify-content: center;
        background: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .filterButton{
        display: block;
        color: white;
        background: #343434;
        font-size: 16px;
        border: none;
        padding: 10px;
        border-radius: 10px;
    }
}

/* iphone 5 */
@media screen and (device-aspect-ratio: 40/71){

}
