.body{
    width: 100%;
}
.wrapper{
    width: 100%;
}
.case{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
}
.caseName{
    background: white;
    padding: 5px;
    font-family: 'Montserrat-Medium';
}
.desc{
    padding: 5px;
    font-family: 'Montserrat-Medium';
    opacity: 0;
    transition: 0.3s;
}
.case:hover .desc{
    opacity: 100;
}