.table{
    width: 100%;
    border: 1px solid darkgrey;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border-radius: 12px;
    padding: 5px 20px;
}
.show_btn{
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: #fff;
}
.delete_btn{
    border: 1px solid #d28703;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: #fff;
    color: #d28703;
}
.head_row{
    border-bottom: 0.5px solid #b6b6b6;
}

.table_row{
    max-height: 20px;
    height: 20px;
}

.table_cell{
    min-width: 100px;
    text-align: left;
    width: 20%;
}

.description{
    min-width: 400px;
    text-align: justify;
}

.thickness{
    min-width: 30px;
    text-align: justify;
}
