@font-face{
    font-family: 'Montserrat-Regular';
    src: url("../../../public/fonts/Monseratt/Montserrat-Regular.ttf");
}
@font-face{
    font-family: 'Montserrat-Bold';
    src: url("../../../public/fonts/Monseratt/Montserrat-Bold.ttf");
}
@font-face{
    font-family: 'Montserrat-BoldItalic';
    src: url("../../../public/fonts/Monseratt/Montserrat-BoldItalic.ttf");
}
@font-face{
    font-family: 'Montserrat-Medium';
    src: url("../../../public/fonts/Monseratt/Montserrat-Medium.ttf");
}
@font-face{
    font-family: 'Montserrat-MediumItalic';
    src: url("../../../public/fonts/Monseratt/Montserrat-MediumItalic.ttf");
}
@font-face{
    font-family: 'Montserrat-SemiBold';
    src: url("../../../public/fonts/Monseratt/Montserrat-SemiBold.ttf");
}
@font-face{
    font-family: 'Montserrat-SemiBoldItalic';
    src: url("../../../public/fonts/Monseratt/Montserrat-SemiBoldItalic.ttf");
}

.catalog{
    width: 100%;
    /*min-height: 300px;*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.title{
    font-family: 'Montserrat-SemiBold';
    font-size: 18px;
    color: black;
    width: 100%;
    text-align: center;
    margin: auto 0;
}
.mainTitle{
    font-family: Montserrat-SemiBold;
    font-size: 24px;
    color: black;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.container{
    width: 100%;
}
